<!DOCTYPE html>
<html>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body ng-app="myApp">
	Welcome
	<div ng-controller="myCtrl">
		<p>Enter Student Details</p>
<p>Name: <input type="text" ng-model="StudentDetails.studendName"></p>
<p>Address: <input type="text" ng-model="StudentDetails.address"></p>
<p>Phone: <input type="text" ng-model="StudentDetails.phone"></p>
<p>Department : <input type="text" ng-model="StudentDetails.departmentDetails.deptName"></p>
<p>Hostel Name: <input type="text" ng-model="StudentDetails.hostelId.hostelName"></p>
<p>Course : <select name="multipleSelect" id="multipleSelect" ng-model="StudentDetails.courseId" multiple>
      <option value="Java">Java</option>
      <option value="C#">C#</option>
      <option value="C++">C++</option>
    </select></p>
		<button ng-click="addStudentDetails()">New Student</button>
		<p>{{uploadResult}}</p>
	</div>

	<script>
		angular
				.module('myApp', [])
				.controller(
						'myCtrl',
						[
								'$scope',
								'$http',
								function($scope, $http) {
									$scope.addStudentDetails = function() {
										var url = "/saveNewStudentDetails";
										/* $scope.StudentDetails = {
											"studendName" : "Theju",
											"address" : "Bangalore",
											"phone": 9886642962,
											"hostelId" : {
												"hostelName":"Svce Hostel"
											},
											"departmentDetails" : {
												"deptName" : "Information Science"
											},
											"courseId" : [ {
												"courseName" : "Java"
											}, {
												"courseName" : "C#"
											}, {
												"courseName" : "C++"
											}, {
												"courseName" : "C"
											} ] 
										};*/
										$scope.StudentDetails;
										var courseId = [];
										angular.forEach($scope.StudentDetails.courseId, function(value, key) {
											  //alert(key + ': ' + value);
											courseId.push({
										        "courseName": value
										    });
											});
										$scope.StudentDetails.courseId = courseId;
										var data = new FormData();
										data.append('StudentDetails', $scope.StudentDetails);

										$http
												.post(url,
														angular.toJson($scope.StudentDetails))
												.then(
														function(response) {
															$scope.uploadResult = response.data;
														},
														function(response) {
															$scope.uploadResult = response.data;
														});
									};
									
								} ]);
	</script>
</body>
</html>
